@font-face {
    font-family: 'murder';
    src: url('aThemeformurder.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    background: black;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    margin: 0;
    background: white;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}