@font-face {
    font-family: 'boycott';
    src: url('Boycott.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    background: black;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    cursor: none;
}

canvas.hidden {
    opacity: 0;
    transition: opacity 5s ease-out;
}

.loader {
    display: inline-block;
    color: white;
    font-family: boycott;
    font-size: 80px
}
